<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProjectJCBased"
        tools:targetApi="31">
        <activity
            android:name=".CountWithFlow.CountWithFlowActivity"
            android:exported="true"
            android:label="@string/title_activity_count_with_flow"
            android:theme="@style/Theme.AndroidProjectJCBased" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityThree.MainActivityThree"
            android:exported="true"
            android:label="@string/title_activity_main_three"
            android:theme="@style/Theme.AndroidProjectJCBased">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".filterResult.FilterTextActivity"
            android:exported="true"
            android:label="@string/title_activity_filter_text"
            android:theme="@style/Theme.AndroidProjectJCBased"></activity>
        <activity
            android:name=".SourceCodeWebView.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidProjectJCBased" />
    </application>

</manifest>